html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #020202;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* SIDELEFT */
nav {
  position: relative;
  background-color: #000000;
  padding: 0 3px 0 24px;
  height: 100vh;
}
nav .upLeft {
  position: sticky;
  top: 0;
}
nav ul {
  padding: 0;
  list-style: none;
  color: rgb(128, 122, 122);
}
nav ul hr {
  color: gray;
}
nav ul li span {
  font-size: 1.2em;
  margin: 0.7em;
}
nav .navigation #cuore {
  padding: 6px;
  background: rgb(67, 26, 182);
  background: linear-gradient(120deg, rgb(67, 26, 182) 0%, rgb(123, 143, 137) 100%);
}
nav .navigation #episodi {
  padding: 10px;
  background: #004537;
}
nav .navigation ul {
  list-style: none;
}
nav .navigation ul li {
  padding: 10px 0px;
}
nav .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}
nav .navigation ul li a .fa {
  font-size: 13px;
  margin-right: 10px;
}
nav .playlistList {
  overflow-y: scroll;
  height: 50%;
}

nav .navigation ul li a:hover,
nav .navigation ul li a:active,
nav .navigation ul li a:focus {
  color: #ffffff;
}

nav .navigation ul li a .fa:hover,
nav .navigation ul li a .fa:active,
nav .navigation ul li a .fa:focus {
  color: #b3b3b3;
}

#center {
  height: 86vh;
  overflow-y: scroll;
  padding: 0;
}
#center .freccia {
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
  position: relative;
}
#center .freccia svg {
  position: absolute;
  top: 8px;
  left: 7px;
}

#mainTitle {
  font-size: 5em;
  font-weight: bold;
}

#mainCard {
  height: 40vh;
}

#trackOrder div.col-12 div {
  border-bottom: 1px solid rgba(199, 199, 199, 0.2);
}

.trackWrap:hover {
  background-color: rgb(48, 48, 48);
  border-radius: 0.5em;
}

.fetchBox:hover {
  position: relative !important;
}
.fetchBox:hover .verde {
  display: block !important;
  position: absolute !important;
  bottom: 40%;
  right: 2%;
  font-size: 1.8em;
}

/* SIDERIGHT */
#dx {
  font-size: 0.8rem;
  background-color: black;
  color: white;
  padding: 12px;
  display: block;
}
#dx img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  #dx {
    display: none;
  }
}
/* PLAYER */
#player {
  width: 100%;
  background-color: black;
  /*Chrome*/
  /** FF*/
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #player input[type=range] {
    overflow: hidden;
    width: 110px;
    border-radius: 2em;
    -webkit-appearance: none;
    background-color: #808080;
  }
  #player input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #16eb16;
    margin-top: -1px;
  }
  #player input[type=range]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #797979;
    box-shadow: -80px 0 0 80px #f1f1f1;
  }
}
#player input[type=range]::-moz-range-progress {
  background-color: #43e5f7;
}
#player input[type=range]::-moz-range-track {
  background-color: #9a905d;
}/*# sourceMappingURL=app.css.map */